* {
    font-size: 1.02em;
    font-family: Arial;
    box-sizing: border-box;
}

.context-menu-one:hover {
    background-color: lightyellow;
}

.context-menu-two {
    background-color: #f1f1f1;
}

th {
    text-transform: capitalize;
}


.notekey {
    width: 100%;
    padding: 0.1em;
    background-color: #a8a8a8;
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#zn-menu {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top:0;
    height: 2em;
    padding: 0.5em;
    top: 0;
    left:0;
    flex: 1;
}

#zn-sep-1 {
    background-color: white;
    height: 1.3em;
}

#zn-body-wrapper {
    width: 100%;
    overflow: auto;
    flex: 30;
}

#zn-body {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
	outline: none;
}

#notes-table {
    border-spacing: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.2em;
    vertical-align: top;
    position: relative;
}

#notes-table td {
    padding:0.3em;
    border: solid 1px; 
    vertical-align: top;
    cursor: pointer;
}

#notes-table tr:first-child td {
    background-color: white;
    padding:0.3em;
    border: solid 1px;
    position: sticky;
    top: 0;
	/* z-index: 100!important; */
	font-weight: bolder;
}

#notes-table tr:first-child td:first-letter, td:first-child:first-letter {
	text-transform: capitalize;
}

#notes-table td:first-child {
    background-color: white;
    padding:0.3em;
    border: solid 1px;
    position: sticky;
	left: 0;
	/* z-index: 100!important; */
	font-weight: bolder;
}

#notes-table tr:first-child > td:first-child {
	z-index: 1!important;
}

.zn-menubar {
    font-size: 0.9em;
    font-family: "Fira Sans"!important;
    font-weight: normal!important;
    background-color: #f2f2f2;
}

.zn-menubar li {
    font-size: 0.9em;
    font-family: "Fira Sans"!important;
    font-weight: normal!important;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
    cursor: default;
}

.zn-menubar li:hover {
    background-color: #d8e6f2;
    border: solid 1px #c0dcf3;
    color: black;
}

.context-menu-separator
{
	border: solid 1px #dfdfff!important;
}

.zn-menuitem:hover {
    background-color: #d8e6f2;
    border: solid 1px #c0dcf3;
}

.zn-menuitem {
    cursor: default;
    border: solid 1px transparent;
    background-color: #f2f2f2;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
}

.zn-menu-spacer {
    margin-bottom: 3em;
    height: 1em;
}

.zn-status-bar {
    font-size: 0.9em;
    font-family: "Fira Sans"!important;
    font-weight: normal!important;
    background-color: #f2f2f2;
	padding: 0.2em;
}

.zn-status-bar *{
	margin-left: 0.3em;
	margin-right: 0.3em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#zn-search-box {
	width: 15em;
}

.z-button {
	text-decoration: none;
	padding: 0.2em;
	border: solid 1px;
	border-radius: 0.2em;
}

.z-button i {
	color: red;
}

.z-button:hover {
	border: solid 1px red;
}

.draggable-header {
	cursor: pointer;
}

#zn-ai-table {

}

#zn-ai-table td{
	border-bottom: solid 1px;
	padding: 0.6em;
}

.zn-button {
	border: solid 1px;
	padding: 0.2em;
	margin: 0.2em;
	cursor: pointer;
	border-radius: 0.1em;
}