html, body {
	color: white;
	background-color: #303030;
}

.zn-type-table {
	background-color: #303030;
}

.zn-type-table thead{
	color: white;
	background-color: #303030;
}

.zn-type-table tr:hover{
	background-color: #333d54;
}