#zotero-prefpane-zenotes-overlay > * {
	font-size: 1em!important;
}

.zn-table-holder{
	height: 500px!important;
}

.zn-type-table {
	margin-right: 1.2em!mportant;
	min-width: 80vw!important;
	table-layout:fixed!important;
}

.zn-type-table td:nth-child(1){
	overflow: hidden;
	white-space: pre-wrap!important;
}

.zn-legend {
	font-size: 1.02em!important;
}

#zn-tags-display-panel {
	min-height: 500px;
}

.zn-include {
	padding-top: 0.5em!important;
	width: 100%!important;
	display: flex;
	flex-direction: column;
	min-height: 500px;
}

.zn-include table {
}

fieldset {
	width: 100%!important;
}

.collection-name {
	display: block;
	text-align: center;
	color: red;
}

