* {
    font-size: 1.02em;
    font-family: Arial;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 0.2em;
}
td, th {
    padding:0.3em;
    border: solid 1px; 
}

td {
    vertical-align: top;
    cursor: pointer;
}

.context-menu-one:hover {
    background-color: lightyellow;
}

.context-menu-two {
    background-color: #f1f1f1;
}

th {
    text-transform: capitalize;
}

#content {
    background-color:white; 
    padding:0.3em; 
    width:99%;
    height:96%; 
    overflow-y:auto; 
}

.notekey {
    width: 100%;
    padding: 0.1em;
    background-color: #a8a8a8;
}